 *
{
	margin: 0;
	padding: 0;
}
nav
{
	background-color: black;
	width: 100%;
	height: 70px;

}

ul
{
	float: right;
	margin-right: 20px;
	line-height: 70px;
}

ul li

{
	display: inline-block;
}


ul li a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.logo 
{
	line-height: 70px;

	font-weight: bold;
	font-size: 18px;
	left: 5%;
	position: relative;
}


.div_deg
{
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
	position: relative;

}


.menu
{
	color: white;
	 padding-right: 10px;
}

.footer_left
{

position: relative;
 float:right;
 padding-right: 30px;

}


.footer_right
{

position:relative; 
float:left;
 color: white; padding-left: 30px;
 
}

.footer 
{
	background-color: #40e0d0!important;
}

p{
	color: white;
}

